version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: "chalk"
        update-types: ["version-update:semver-major"]
    groups:
      minor-and-patch:
        patterns:
          - "*"
        update-types:
          - "version-update:semver-minor"
          - "version-update:semver-patch"

    labels:
      - "dependencies"
